!!!
%html
  %head
    %title Pause||Break
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
  %body{'data-spy'=>'scroll', 'data-target'=>'#site-nav'}
    = render 'shared/header'
    .container
      = yield
    = render 'shared/footer'
    = javascript_include_tag "application"
